@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@1,700&family=Patrick+Hand&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

body aside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
    padding: 40px;
    background-color: #f9fafb;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index:0;
    position: relative;
}

body aside .logo h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #3730a3;
}

body aside .tasks-and-projects {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

body aside .tasks-and-projects .tasks {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

aside .tasks-and-projects .tasks button,
aside .tasks-and-projects .projects .added-projects button {
    height: 48px;
    min-width: 140px;
}

aside .tasks-and-projects .projects .title-and-addBtn button {
    height: 50px;
    min-width: 50px;
}

aside .tasks-and-projects .tasks button,
aside .tasks-and-projects .projects .added-projects button,
aside .tasks-and-projects .projects .title-and-addBtn button,
body main .add-task-form button,
body main .edit-task-info button {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 0 17px;
    text-align: center;
    transition: all .3s;
}

aside .tasks-and-projects .tasks button:hover,
aside .tasks-and-projects .projects .added-projects button:hover,
aside .tasks-and-projects .projects .title-and-addBtn button:hover,
body main .add-task-form button:hover,
body main .edit-task-info button:hover {
    border-color: #06f;
    transform: scale(1.05);
    transition: all 0.3s;
    color: #06f;
    fill: #06f;
}

aside .tasks-and-projects .tasks button:active,
aside .tasks-and-projects .projects .added-projects button:active,
aside .tasks-and-projects .projects .title-and-addBtn button:active,
body main .add-task-form button:active,
body main .edit-task-info button:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
    transform: translateY(0);
}

aside .tasks-and-projects .projects {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

aside .tasks-and-projects .projects .title-and-addBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body main {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #d4d4d8;
}

body main .add-task-and-list,
main .add-task-to-proj {
    display: grid;
    grid-template-rows: 20% 80%;
    height: 60%;
    width: 60%;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
}

body main .add-task-and-list .add-task,
body main .add-task-to-proj .proj-heading-add-task-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
}

body main .add-task-and-list .add-task button,
body main .add-task-to-proj .proj-heading-add-task-btn button,
main .add-task-and-list .list-of-tasks .task .checkbox-priority-del button,
main .add-task-to-proj .proj-tasks .proj-task .proj-checkbox-priority-del button {
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  color: #3B3B3B;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  min-height: 60px;
  min-width: 0;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  width: 100%;
}

body main .add-task-and-list .add-task button:hover,
body main .add-task-to-proj .proj-heading-add-task-btn button:hover,
main .add-task-and-list .list-of-tasks .task .checkbox-priority-del button:hover,
main .add-task-to-proj .proj-tasks .proj-task .proj-checkbox-priority-del button:hover
 {
  color: #06f;
  border-color: #06f;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

body main .add-task-and-list .add-task button:active,
body main .add-task-to-proj .proj-heading-add-task-btn button:active,
main .add-task-and-list .list-of-tasks .task .checkbox-priority-del button:active,
main .add-task-to-proj .proj-tasks .proj-task .proj-checkbox-priority-del button:active {
  box-shadow: none;
  transform: translateY(0);
}

body main .add-task-and-list .list-of-tasks,
body main .add-task-to-proj .proj-tasks {
    display: grid;
    gap: 30px;
    align-items: center;
    justify-items: center;
    border-top: 2.5px solid grey;
    max-height: 600px;
    overflow: scroll;
    padding: 25px;
}

body main .add-task-and-list .list-of-tasks .task,
body main .add-task-to-proj .proj-tasks .proj-task {
    min-height: 125px;
    min-width: 400px;
    height: 180px;
    width: 100%;
    overflow: hidden;
    background-color: #e5e7eb;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-left: 15px solid #06f;
}

body main .add-task-and-list .list-of-tasks .task .title-desc-date,
body main .add-task-to-proj .proj-tasks .proj-task .proj-title-desc-date,
body main .add-task-to-proj .proj-tasks .proj-task .proj-checkbox-priority-del,
body main .add-task-and-list .list-of-tasks .task .checkbox-priority-del {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

body main .add-task-and-list .list-of-tasks .task .checkbox-priority-del .checkbox-div,
body main .add-task-to-proj .proj-tasks .proj-task .proj-checkbox-priority-del .proj-checkbox-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

body main .add-task-and-list .list-of-tasks .task .checkbox-priority-del .checkbox-div input,
body main .add-task-to-proj .proj-tasks .proj-task .proj-checkbox-priority-del .proj-checkbox-div input {
    width: 20px;
    height: 20px;
}

body main .add-task-and-list .list-of-tasks .task .checkbox-priority-del .checkbox-div label
body main .add-task-to-proj .proj-tasks .proj-task .proj-checkbox-priority-del .proj-checkbox-div label {
    font-size: large;
}

/*  */

body main .add-task-form,
body main .edit-task-info {
    display: none;
    flex-direction: column;
    min-width: min-content;
    width: 25%;
    gap: 30px;
    align-self: center;
    justify-self: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

body main .add-task-form label select,
body main .add-task-form label input,
body main .edit-task-info label select,
body main .edit-task-info label input { 
    padding-left: 5px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
}

body main .add-task-form button,
body main .edit-task-info button { 
    width: 150px;
    height: 30px;
    justify-self: center;
    align-self: center;
}

main .add-task-and-list .list-of-tasks .task .checkbox-priority-del button,
main .add-task-to-proj .proj-tasks .proj-task .proj-checkbox-priority-del button
 {
    border: none;
    min-height: 25px;
    background-color: white;
    border-radius: 10px;
    color: red;
}

main .add-task-and-list .list-of-tasks .task .checkbox-priority-del button:hover,
main .add-task-to-proj .proj-tasks .proj-task .proj-checkbox-priority-del button:hover {
    border-color: red;
    color: red;
}

main .add-task-and-list .list-of-tasks .task .checkbox-priority-del .edit-task-btn,
main .add-task-to-proj .proj-tasks .proj-task .proj-checkbox-priority-del .proj-edit-task-btn {
    border: none;
    min-height: 25px;
    background-color: white;
    border-radius: 10px;
    color: #06f;
}

main .add-task-and-list .list-of-tasks .task .checkbox-priority-del .edit-task-btn:hover,
main .add-task-to-proj .proj-tasks .proj-task .proj-checkbox-priority-del .proj-edit-task-btn:hover {
    border-color: #06f;
    color: #06f;
}

aside .tasks-and-projects .type-proj-name  {
    display: none;
    flex-direction: column;
    gap: 5px;
}

aside .tasks-and-projects .type-proj-name input {
    height: 35px;
    width: 100%;
    padding-left: 5px;
    border: 1px solid #6b7280;
    border-radius: 5px;
    background-color: #f3f4f6;
}

aside .tasks-and-projects .type-proj-name button {
    align-self: center;
    height: 25px;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
}

aside .tasks-and-projects .type-proj-name button:hover {
    transition: 0.3s;
    border: 1px solid #06f;
    background-color: white;
    color: #06f;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transform: scale(1.1);
}

aside .tasks-and-projects .type-proj-name button:active {
    transition: 0.3s;
    transform: scale(0.95);
}

aside .tasks-and-projects .projects .added-projects {
    display: flex;
    flex-direction: column;
    gap: 10px;
} 

aside .tasks-and-projects .output-error {
    display: none;
    color: red;
    text-align: center;
} 

body main .add-task-to-proj .proj-heading-add-task-btn {
    flex-direction: column;
    gap: 20px;
}