@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@1,700&family=Patrick+Hand&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(min-content, 15%) 85%;
}

body nav {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
    padding: 40px;
    background-color: #f9fafb;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index:0;
    position: relative;
}

body nav .logo h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #3730a3;
}

body nav .tasks-and-projects {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

body nav .tasks-and-projects .tasks {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav .tasks-and-projects .tasks button {
    height: 48px;
    min-width: 140px;
}

nav .tasks-and-projects .projects button {
    height: 50px;
    min-width: 50px;
}

nav .tasks-and-projects .tasks button,
nav .tasks-and-projects .projects button {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 0 17px;
    text-align: center;
    transition: all .3s;
}

nav .tasks-and-projects .tasks button:hover,
nav .tasks-and-projects .projects button:hover {
    border-color: #06f;
    transform: scale(1.05);
    transition: all 0.3s;
    color: #06f;
    fill: #06f;
}

nav .tasks-and-projects .tasks button:active,
nav .tasks-and-projects .projects button:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
    transform: translateY(0);
}

nav .tasks-and-projects .projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body main {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #d4d4d8;
}

body main .add-task-and-list {
    display: grid;
    grid-template-rows: 20% 80%;
    height: 60%;
    width: 60%;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
}

body main .add-task-and-list .add-task {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
}

body main .add-task-and-list .add-task button {
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  color: #3B3B3B;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  min-height: 60px;
  min-width: 0;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  width: 100%;
}

body main .add-task-and-list .add-task button:hover {
  color: #06f;
  border-color: #06f;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

body main .add-task-and-list .add-task button:active {
  box-shadow: none;
  transform: translateY(0);
}

body main .add-task-and-list .list-of-tasks {
    padding: 20px;
}